*{
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
}

section{
    justify-content: center;
    background-color:rgb(205, 205, 205);
    padding-top: 10px;
}

footer{
    padding: 20px;
    text-align: center;
    color: white;
    background-color:rgb(0, 0, 0);
}
section p{
    background-color: rgb(130, 156, 195);
    width: 80%;
}
button{
    margin-left: 20px;
}